.devcontainer/** linguist-vendored=true
examples/** linguist-vendored=true

config/config.go linguist-generated=true

providers/common_types.go linguist-generated=true
providers/registry.go linguist-generated=true

mcp/generated_types.go linguist-generated=true
a2a/generated_types.go linguist-generated=true

tests/mocks/* linguist-generated=true

Configurations.md linguist-generated=true
examples/docker-compose/**/.env.example linguist-generated=true
charts/inference-gateway/templates/configmap.yaml linguist-generated=true
charts/inference-gateway/templates/secret.yaml linguist-generated=true
charts/inference-gateway/values.yaml linguist-generated=true
