apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "inference-gateway.fullname" . }}-defaults
  labels:
    {{- include "inference-gateway.labels" . | nindent 4 }}
data:
  # General settings
  ENVIRONMENT: {{ .Values.config.ENVIRONMENT | quote }}
  ALLOWED_MODELS: {{ .Values.config.ALLOWED_MODELS | quote }}
  ENABLE_VISION: {{ .Values.config.ENABLE_VISION | quote }}
  DEBUG_CONTENT_TRUNCATE_WORDS: {{ .Values.config.DEBUG_CONTENT_TRUNCATE_WORDS | quote }}
  DEBUG_MAX_MESSAGES: {{ .Values.config.DEBUG_MAX_MESSAGES | quote }}
  # Telemetry
  TELEMETRY_ENABLE: {{ .Values.config.TELEMETRY_ENABLE | quote }}
  TELEMETRY_METRICS_PORT: {{ .Values.config.TELEMETRY_METRICS_PORT | quote }}
  # Model Context Protocol (MCP)
  MCP_ENABLE: {{ .Values.config.MCP_ENABLE | quote }}
  MCP_EXPOSE: {{ .Values.config.MCP_EXPOSE | quote }}
  MCP_SERVERS: {{ .Values.config.MCP_SERVERS | quote }}
  MCP_CLIENT_TIMEOUT: {{ .Values.config.MCP_CLIENT_TIMEOUT | quote }}
  MCP_DIAL_TIMEOUT: {{ .Values.config.MCP_DIAL_TIMEOUT | quote }}
  MCP_TLS_HANDSHAKE_TIMEOUT: {{ .Values.config.MCP_TLS_HANDSHAKE_TIMEOUT | quote }}
  MCP_RESPONSE_HEADER_TIMEOUT: {{ .Values.config.MCP_RESPONSE_HEADER_TIMEOUT | quote }}
  MCP_EXPECT_CONTINUE_TIMEOUT: {{ .Values.config.MCP_EXPECT_CONTINUE_TIMEOUT | quote }}
  MCP_REQUEST_TIMEOUT: {{ .Values.config.MCP_REQUEST_TIMEOUT | quote }}
  MCP_MAX_RETRIES: {{ .Values.config.MCP_MAX_RETRIES | quote }}
  MCP_RETRY_INTERVAL: {{ .Values.config.MCP_RETRY_INTERVAL | quote }}
  MCP_INITIAL_BACKOFF: {{ .Values.config.MCP_INITIAL_BACKOFF | quote }}
  MCP_ENABLE_RECONNECT: {{ .Values.config.MCP_ENABLE_RECONNECT | quote }}
  MCP_RECONNECT_INTERVAL: {{ .Values.config.MCP_RECONNECT_INTERVAL | quote }}
  MCP_POLLING_ENABLE: {{ .Values.config.MCP_POLLING_ENABLE | quote }}
  MCP_POLLING_INTERVAL: {{ .Values.config.MCP_POLLING_INTERVAL | quote }}
  MCP_POLLING_TIMEOUT: {{ .Values.config.MCP_POLLING_TIMEOUT | quote }}
  MCP_DISABLE_HEALTHCHECK_LOGS: {{ .Values.config.MCP_DISABLE_HEALTHCHECK_LOGS | quote }}
  # Authentication
  AUTH_ENABLE: {{ .Values.config.AUTH_ENABLE | quote }}
  AUTH_OIDC_ISSUER: {{ .Values.config.AUTH_OIDC_ISSUER | quote }}
  # Server settings
  SERVER_HOST: {{ .Values.config.SERVER_HOST | quote }}
  SERVER_PORT: {{ .Values.config.SERVER_PORT | quote }}
  SERVER_READ_TIMEOUT: {{ .Values.config.SERVER_READ_TIMEOUT | quote }}
  SERVER_WRITE_TIMEOUT: {{ .Values.config.SERVER_WRITE_TIMEOUT | quote }}
  SERVER_IDLE_TIMEOUT: {{ .Values.config.SERVER_IDLE_TIMEOUT | quote }}
  SERVER_TLS_CERT_PATH: {{ .Values.config.SERVER_TLS_CERT_PATH | quote }}
  SERVER_TLS_KEY_PATH: {{ .Values.config.SERVER_TLS_KEY_PATH | quote }}
  # Client settings
  CLIENT_TIMEOUT: {{ .Values.config.CLIENT_TIMEOUT | quote }}
  CLIENT_MAX_IDLE_CONNS: {{ .Values.config.CLIENT_MAX_IDLE_CONNS | quote }}
  CLIENT_MAX_IDLE_CONNS_PER_HOST: {{ .Values.config.CLIENT_MAX_IDLE_CONNS_PER_HOST | quote }}
  CLIENT_IDLE_CONN_TIMEOUT: {{ .Values.config.CLIENT_IDLE_CONN_TIMEOUT | quote }}
  CLIENT_TLS_MIN_VERSION: {{ .Values.config.CLIENT_TLS_MIN_VERSION | quote }}
  CLIENT_DISABLE_COMPRESSION: {{ .Values.config.CLIENT_DISABLE_COMPRESSION | quote }}
  CLIENT_RESPONSE_HEADER_TIMEOUT: {{ .Values.config.CLIENT_RESPONSE_HEADER_TIMEOUT | quote }}
  CLIENT_EXPECT_CONTINUE_TIMEOUT: {{ .Values.config.CLIENT_EXPECT_CONTINUE_TIMEOUT | quote }}
  # Providers
  ANTHROPIC_API_URL: {{ .Values.config.ANTHROPIC_API_URL | quote }}
  CLOUDFLARE_API_URL: {{ .Values.config.CLOUDFLARE_API_URL | quote }}
  COHERE_API_URL: {{ .Values.config.COHERE_API_URL | quote }}
  GROQ_API_URL: {{ .Values.config.GROQ_API_URL | quote }}
  OLLAMA_API_URL: {{ .Values.config.OLLAMA_API_URL | quote }}
  OPENAI_API_URL: {{ .Values.config.OPENAI_API_URL | quote }}
  DEEPSEEK_API_URL: {{ .Values.config.DEEPSEEK_API_URL | quote }}
  GOOGLE_API_URL: {{ .Values.config.GOOGLE_API_URL | quote }}
  MISTRAL_API_URL: {{ .Values.config.MISTRAL_API_URL | quote }}
