name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.23"

      - name: Install golangci-lint
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b /usr/local/bin v1.63.4

      - name: Install Mockgen
        run: go install go.uber.org/mock/mockgen@v0.5.0

      - name: Install dependencies
        run: go mod tidy

      - name: Run generate
        run: go generate ./...

      - name: Check dirty
        run: git diff --exit-code

      - name: Run Lint
        run: golangci-lint run

      - name: Build
        run: go build -o bin/inference-gateway cmd/gateway/main.go

      - name: Test
        run: go test -v ./...
